{% extends 'base.html' %}
{% block navbar %}

{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4">
            <h4 class="mb-3 text-center">Connexion Enseignant</h4>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <input type="text" name="username" class="form-control mb-3" placeholder="Email">

                <input type="password" name="password" class="form-control mb-3" placeholder="Mot de passe">

                <button class="btn btn-dark w-100">Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}