{% extends 'base.html' %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'import_payments' %}">Import Paiement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
    </li>
{% endblock %}
{% block content %}

<h3>Vérification des notes (Admin)</h3>

<form method="GET" class="row mb-4">
    <div class="col-md-4">
        <select name="promotion" class="form-control">
            <option value="">Choisir promotion</option>
            {% for p in promotions %}
                <option value="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <select name="department" class="form-control">
            <option value="">Choisir département</option>
            {% for d in departments %}
                <option value="{{ d.id }}">{{ d.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary">Afficher</button>
    </div>
</form>

{% if data %}

<div class="table-responsive">
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Étudiant</th>

            {% for course in courses %}
                <th>{{ course.code }}</th>
            {% endfor %}

            <th>Moyenne</th>
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.student.nom }} {{ row.student.prenom }}</td>

            {% for note in row.notes %}
                <td>{{ note|default:"-" }}</td>
            {% endfor %}

            <td>{{ row.moyenne }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endif %}

{% endblock %}